<div class="card">
    <div class="flex justify-between mb-4">
        <div>
            @if (!server()) {
                <span class="block text-muted-color font-medium mb-4">#empty-slot</span>
                <p-skeleton width="7rem" />
            } @else {
                <span class="block text-muted-color font-medium mb-4">#server-{{server()?.id}}: {{server()?.name | titlecase}}</span>
                <p-skeleton width="7rem" />
            }
        </div>
        <div class="flex items-center justify-center bg-{{statusColor}}-100 dark:bg-{{statusColor}}-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
            <i class="pi {{server() ? 'pi-server' : 'pi-box'}} text-{{statusColor}}-500 text-xl!"></i>
        </div>
    </div>
    @if (!server()) {
        <p-skeleton width="20rem" />
    } @else {
        @switch (server()?.status) {
            @case (ONLINE_STATUS) {
        <span class="text-muted-color">Started </span>
            }
            @case (WORKING_STATUS) {
        <span class="text-muted-color">Working </span>
            }
            @case (OFFLINE_STATUS) {
        <span class="text-muted-color">Stopped </span>
            }
        }
        <span class="text-primary font-medium">{{server()?.durationSinceReboot}}</span>
        <span class="text-muted-color"> ago</span>
    }
</div>
